{% extends "template.html" %}
{% block content %}
  <h1>Login</h1>
  {% if error %}
    <p class=error>
      <strong>Error:</strong> {{ error }}
    </p>
  {% endif %}
  <form class="form-inline" action="" method="post">
    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">@</div>
      <input type="text" name="username" class="form-control" id="inlineFormInputGroup" placeholder="Username">
    </div>

    <label class="sr-only" for="inlineFormInput">Password</label>
    <input type="password" name="password" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Your password" value="{{ request.form.username }}">

    <button type="submit" class="btn btn-primary" value="Login">Login</button>
  </form>
{% endblock %}
